/* 全局样式 */
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Bowlby+One+SC|Press+Start+2P&display=swap');

*{
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}


.blogName {
    font-family: 'Press Start 2P', cursive !important;
}

/* .imgaft::after {
    content: "";
    height: 100%;
    width: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: url('https://tva1.sinaimg.cn/large/006tNbRwly1gana6b5ogxj31900u0npd.jpg') no-repeat center;
} */