/* 全局样式 */
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Bowlby+One+SC|Press+Start+2P&display=swap');

*{
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}


.blogName {
    font-family: 'Press Start 2P', cursive !important;
}

.postArticle{
    padding: 1rem;
    border-radius: 10px;
    background: rgba(234, 234, 234, .2);
}
.postArticle:hover {
    box-shadow: -10px 11px 12px 6px #3333;
}