/* 全局样式 */
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Bowlby+One+SC|Ma+Shan+Zheng|Press+Start+2P&display=swap');

.blogName {
    font-family: 'Press Start 2P', cursive !important;
}

.postArticle{
    padding: 1rem;
    border-radius: 10px;
    background: rgba(234, 234, 234, .5);
    transition: border 0.3s ease ;
}
.postArticle:hover {
  background-clip: padding-box;
  box-sizing: border-box;
  border: 1.5rem solid rgba(148, 148, 148, 0.3);
}

.bg {
    background: url(../../../content/assets/bg.jpg) no-repeat center top;background-size: 100%;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 100vh;
}
.tagsImg{
    background: url(../../../content/assets/7026.jpg) no-repeat center top;background-size: 100%;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.nextText {
    font-size: 1rem;
    font-family: 'Black Ops One', cursive;
}


.about_bg {
  background: url(https://tva1.sinaimg.cn/large/0081Kckwly1gkfe7s63y2j31hc0u0hdt.jpg) repeat;
  background-attachment: fixed;
  z-index: -999;
}
