.article {
  .leftToc {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    align-items: center;
    > h3 {
      font-size: 2rem;
    }
    .tabs {
      text-align: center;
      > nav {
        display: block;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        
      }
    }
  }
}

.BtnToc {
  font-size: 2rem;
  display: none;
  @media (max-width: 40.625em) {
    display: block;
    position: fixed;
    top: 1rem;
    z-index: 99;
  }
}
