.article {
  .leftToc {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    align-items: center;
    > h3 {
      font-size: 2rem;
    }
    
  }
}

.BtnToc {
  font-size: 2rem;
  display: none;
  @media (max-width: 40.625em) {
    display: block;
  }
}
