.title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    .DialogTitle {
        cursor: move;
    }
}


:global {
    .MuiDialogContent-root {
        padding: 0 24px 24px 8px !important;
    }
}