.title {
  font-family: 'Black Ops One', cursive;
}

.dv {
  height: 40rem;
  @media (max-width: 40.625em) {
    height: 35rem;
  }
}

$pd: 0 10rem;

@mixin pad {
  padding: $pd;
  width: 100%;

  @media (max-width: 40.625em) {
    padding: 1rem 6%;
  }
}

// header 公共样式
@mixin publicHeader($bgC, $h1bgC) {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 20rem;
  max-height: 20rem;
  background: $bgC;
  @include pad;

  .headerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1{
      color: $h1bgC;
      font-weight: 900;
      font-size: 5rem;
      margin-top: 5rem;
    }
  }
}

// 首页配色
.isDk{
  @include publicHeader(rgba(33, 33, 41), rgba(254, 254, 254))
}

.isWh {
  @include publicHeader(rgba(254, 254, 254), rgba(33, 33, 41))
}

// post 页配色
.isDkPost{
  @include publicHeader(rgba(33, 33, 41), rgba(254, 254, 254))
}

.isWhPost {
  @include publicHeader(rgba(252,232,216,1), rgba(33, 33, 41))
}


// main 主体样式
.isMainDk {
  background: rgb(254, 254, 254);
  @include pad;
}

.isMainWh {
  background: rgb(33, 33, 41);
  @include pad;
}

// post 页 main 主体配色
.isMainWhPost {
  background: rgba(224,224,206,1);
  @include pad;
}

.img {
  width: 600px;
  height: 400px;
  background-color: rgb(254, 254, 254, 0.3);
  @media (max-width: 40.625em) {
    width: 100%;
    height: auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}



