@import './markdown.module.scss';

$pd: 0 10rem;


@mixin pad {
  padding: $pd;
  width: 100%;

  @media (max-width: 40.625em) {
    padding: 1rem 6%;
  }
}

.main {
  @include pad;
  // 在main 中混入 Markdown 格式化样式
  @include mkFormat;

  padding-top: 1rem;
  padding-bottom: 3rem;
  @media (max-width: 40.625em) {
    width: 100%;
  }
  .mid {
    box-shadow: 2px 5px 10px 2px #ccc;
    padding: 1rem 3rem;
    max-width: 1024px;
    @media (max-width: 40.625em) {
      padding: 1rem;
    }

    .info{
      width: 600px;
      display: flex;
      height: 3rem;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1rem;
      @media (max-width: 40.625em) {
        width: 100%;
      }
    }
  }
}

.isMainWhPost {
  background-color: rgb(224, 224, 206);
}

.isMainDk {
  // pre code 标签样式覆盖
  body pre {
        background-color: #f6f8fa;
  }
}