@import "./markdown.module.scss";

$pd: 0 10rem;

@mixin pad {
  padding: $pd;
  width: 100%;

  @media (max-width: 40.625em) {
    padding: 1rem 6%;
  }
}

// main 主体样式
.main {
  // 在main 中混入 Markdown 格式化样式
  @include mkFormat;
  @include pad;
  height: 100vh;
  main {
    max-width: 1024px;
  }
}

.isMainDk {
  background: rgb(254, 254, 254);
  padding-top: 1rem;
    // pre code 标签样式覆盖
    body pre {
      background-color: #f6f8fa;
}
}

.isMainWh {
  background: rgba(224, 224, 206, 1);
  padding-top: 1rem;

}
