# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Blog CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest # 构建运行环境
    
    steps:
    - name: Print
      run: echo "Actions 已弃用, 使用 Vercel 部署"    
    # - name: Checkout  # 获取源码，使用actions/checkout@v2
    #   uses: actions/checkout@v2

    # - name: Install Node.js # 安装指定Node版本，使用actions/setup-node@v1
    #   uses: actions/setup-node@v1
    #   with:
    #     node-version: '18.14.2'

    # - name: Cache node modules #缓存依赖
    #   uses: actions/cache@v1
    #   env:
    #     cache-name: cache-node-modules
    #   with:
    #     path: ./node_modules # npm cache files are stored in `~/.npm` on Linux/macOS
    #     key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./package.json') }}
    #     restore-keys: |
    #       ${{ runner.os }}-build-${{ env.cache-name }}-
    #       ${{ runner.os }}-build-
    #       ${{ runner.os }}-
    # # 写入环境变量
    # - name: Create .env.production
    #   run: echo -e "RECAPTCHA_KEY=${{secrets.RECAPTCHA_key}}\nVALINE_APPID=${{secrets.VALINE_APPID}}\nVALINE_APPKEY=${{secrets.VALINE_APPKEY}}\nALGOLIA_APP_ID=${{secrets.ALGOLIA_APP_ID}}\nALGOLIA_API_KEY=${{secrets.ALGOLIA_API_KEY}}\nALGOLIA_INDEX_NAME=blog" > .env.production
    
    # - name: Install Dependencies
    #   run: yarn config set registry https://registry.yarnpkg.com | yarn install  --network-timeout 1000000

    # - name: gatsby clean
    #   run: yarn clean

    # - name: Build
    #   run: yarn build

    # - name: Deploy to Server
    #   uses: easingthemes/ssh-deploy@v2.1.1
    #   env:
    #       SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    #       ARGS: "-avz --delete"
    #       SOURCE: "public/"
    #       REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
    #       REMOTE_PORT: "22"
    #       REMOTE_USER: root
    #       TARGET: ${{ secrets.REMOTE_TARGET }}
    
    # - name: Restart Server Nginx
    #   uses: appleboy/ssh-action@master
    #   with: 
    #     host: ${{ secrets.REMOTE_HOST }}
    #     username: root
    #     key: ${{ secrets.SSH_PRIVATE_KEY }}

    #     script: |
    #         nginx
    #         nginx -s reload
